import React from "react"
import { ManifestElement } from "src/slide"

export interface ComponentExampleProps {
  options: ManifestElement
}

export const ComponentExample = ({ options }: ComponentExampleProps) => {
  return <div>{options.value}</div>
}

export default {
  ComponentExample,
}
